

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#Home {
	margin-left: 2em
}
.centered { 
text-align: center 
}

#Help {
margin-left: 2em
}





